<?xml version='1.0' encoding='utf-8'?>
<widget
  id="digital.inforama.physik-nll"
  android-packageName="digital.inforama.physik-nll-android"
  ios-CFBundleIdentifier="digital.inforama.physik-nll-ios"
  version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>physik-nll</name>
  <description>
    Physik für die Berufsmaturität NLL
  </description>
  <author email="inforama.digital@gmail.com" href="https://github.com/inforama-digital/physik-nll">
    Inforama digital
  </author>
  <content src="index.html"/>
  <icon src="www/res/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
  <icon src="www/res/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
  <icon src="www/res/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
  <icon src="www/res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
  <icon src="www/res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
